# Procesamiento de datos zona Silver

## configuración

In [18]:
#importaciones y configuraciones

from sqlalchemy import create_engine
import pandas as pd

POSTGRES_CONN_STRING = "postgresql://postgres:123456@127.0.0.1:5432/postgres"
CSV_PATH = "/Users/fsalazars/Documents/Proyectos/globant/prueba tecnica/desarrollo/data/"

version = 1

In [19]:
engine = create_engine(POSTGRES_CONN_STRING)

In [20]:
def string_transform(df):
    # Iterar sobre todas las columnas del DataFrame
    for col in df.select_dtypes(include='object').columns:
        # Convertir los valores de la columna a mayúsculas
        df[col] = df[col].str.upper()
    return df

# Carga de datos

In [21]:
df_jobs = pd.read_sql(sql='select * from bronze.jobs',
                      con=engine)

In [22]:
df_departments = pd.read_sql(sql = 'select * from bronze.departments',
                             con=engine)

In [23]:
df_employees = pd.read_sql(con=engine,
                           sql='select * from bronze.hired_employees')

# Transformación de datos

In [24]:
df_jobs = string_transform(df_jobs)
df_departments = string_transform(df_departments)
df_employees = string_transform(df_employees)

In [25]:
df_employees

        id                name              datetime  department_id  job_id
0        1         HAROLD VOGT  2021-11-07T02:48:42Z            2.0    96.0
1        2            TY HOFER  2021-05-30T05:43:46Z            8.0     NaN
2        3         LYMAN HADYE  2021-09-01T23:27:38Z            5.0    52.0
3        4       LOTTI CROWTHE  2021-10-01T13:04:21Z           12.0    71.0
4        5      GRETNA LORDING  2021-10-10T22:22:17Z            6.0    80.0
...    ...                 ...                   ...            ...     ...
1994  1995          GORAN YONG  2021-08-22T21:57:53Z            2.0    83.0
1995  1996  CIRSTOFORO YOUINGS  2021-04-01T17:48:42Z            3.0    23.0
1996  1997     WILEK YURKEVICH  2021-05-04T12:19:50Z            2.0   132.0
1997  1998          JERRY YVEN  2021-10-03T14:12:50Z            7.0   100.0
1998  1999       JERRI ZEBEDEE  2022-01-18T10:47:37Z            8.0    80.0

[1999 rows x 5 columns]

## Almacenamiento de datos

In [26]:
df_jobs.to_sql(name='jobs',
               schema='silver',
               con=engine,
               if_exists='replace',
               index=False)

183

In [27]:
df_departments.to_sql(name='departments',
                      schema='silver',
                      con=engine,
                      if_exists='replace',
                      index=False)

12

In [28]:
df_employees.to_sql(name='hired_employees',
                    schema='silver',
                    con=engine,
                    if_exists='replace',
                    index=False)

999