# Carga de archivos a zona bronce

## ConfiguraciÃ³n

In [1]:
#importaciones y configuraciones
import os
from sqlalchemy import create_engine
import pandas as pd

POSTGRES_CONN_STRING = "postgresql://postgres:123456@127.0.01:5432/postgres"
current_dir = os.getcwd()

# Ruta a la carpeta de datos
CSV_PATH = '/Users/fsalazars/Documents/Proyectos/globant/prueba tecnica/globant_project/data' 

version = 1

In [2]:
print(os.environ)

environ({'COMMAND_MODE': 'unix2003', 'CONDA_DEFAULT_ENV': 'data_analyst', 'CONDA_EXE': '/Users/fsalazars/opt/anaconda3/bin/conda', 'CONDA_PREFIX': '/Users/fsalazars/opt/anaconda3/envs/data_analyst', 'CONDA_PROMPT_MODIFIER': '(data_analyst) ', 'CONDA_PYTHON_EXE': '/Users/fsalazars/opt/anaconda3/bin/python', 'CONDA_SHLVL': '2', 'GSETTINGS_SCHEMA_DIR': '/Users/fsalazars/opt/anaconda3/share/glib-2.0/schemas', 'HOME': '/Users/fsalazars', 'HOMEBREW_CELLAR': '/opt/homebrew/Cellar', 'HOMEBREW_PREFIX': '/opt/homebrew', 'HOMEBREW_REPOSITORY': '/opt/homebrew', 'INFOPATH': '/opt/homebrew/share/info:', 'LOGNAME': 'fsalazars', 'MallocNanoZone': '0', 'ORIGINAL_XDG_CURRENT_DESKTOP': 'undefined', 'PATH': '/Users/fsalazars/opt/anaconda3/envs/data_analyst/bin:/usr/local/opt/postgresql/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/Users/fsalazars/opt/anaconda3/envs/data_analyst/bin:/Users/fsalazars/opt/anaconda3/condabin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin', 'PWD': '/', 'SHELL': '/bin/bash', 'SHLVL': '3', 'SSH_AUTH_SOCK': '/private/tmp/com.apple.launchd.IS4vFQ9TlN/Listeners', 'TMPDIR': '/var/folders/9c/x5yt4l853wqbbnz5bfj5v3g40000gq/T/', 'USER': 'fsalazars', 'VSCODE_AMD_ENTRYPOINT': 'vs/workbench/api/node/extensionHostProcess', 'VSCODE_CODE_CACHE_PATH': '/Users/fsalazars/Library/Application Support/Code/CachedData/384ff7382de624fb94dbaf6da11977bba1ecd427', 'VSCODE_CRASH_REPORTER_PROCESS_TYPE': 'extensionHost', 'VSCODE_CWD': '/', 'VSCODE_HANDLES_UNCAUGHT_ERRORS': 'true', 'VSCODE_IPC_HOOK': '/Users/fsalazars/Library/Application Support/Code/1.94-main.sock', 'VSCODE_NLS_CONFIG': '{"userLocale":"es-419","osLocale":"es-419","resolvedLanguage":"en","defaultMessagesFile":"/Applications/Visual Studio Code.app/Contents/Resources/app/out/nls.messages.json","locale":"es-419","availableLanguages":{}}', 'VSCODE_PID': '3802', 'XPC_FLAGS': '0x0', 'XPC_SERVICE_NAME': '0', '_': '/Users/fsalazars/opt/anaconda3/envs/data_analyst/bin/python', '__CFBundleIdentifier': 'com.microsoft.VSCode', '__CF_USER_TEXT_ENCODING': '0x1F7:0:86', 'ELECTRON_RUN_AS_NODE': '1', 'PYTHONUNBUFFERED': '1', 'PYTHONIOENCODING': 'utf-8', '_CE_CONDA': '', 'CONDA_PREFIX_1': '/Users/fsalazars/opt/anaconda3', 'CONDA_ROOT': '/Users/fsalazars/opt/anaconda3', '_CE_M': '', 'CONDA_ALLOW_SOFTLINKS': 'false', 'LC_CTYPE': 'UTF-8', 'PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING': '1', 'PYTHON_FROZEN_MODULES': 'on', 'PYDEVD_USE_FRAME_EVAL': 'NO', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'FORCE_COLOR': '1', 'CLICOLOR_FORCE': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'})

In [8]:
POSTGRES_CONN_STRING = os.getenv('DATABASE_URL')
POSTGRES_CONN_STRING

In [7]:
engine = create_engine(POSTGRES_CONN_STRING)

AttributeError: 'NoneType' object has no attribute '_instantiate_plugins'

## Carga tabla jobs

In [3]:
df_jobs = pd.read_csv(os.path.join(CSV_PATH, 'jobs.csv'), names=['id', 'job'])

In [4]:
df_jobs

      id                          job
0      1          Marketing Assistant
1      2                     VP Sales
2      3           Biostatistician IV
3      4    Account Representative II
4      5                 VP Marketing
..   ...                          ...
178  179         Software Engineer II
179  180              Statistician IV
180  181         Programmer Analyst I
181  182     Account Representative I
182  183  Administrative Assistant IV

[183 rows x 2 columns]

In [5]:
df_jobs.to_sql(name='jobs',
               schema='bronze',
               con=engine, 
               if_exists='replace', 
               index=False)

183

## Carga tabla departments

In [6]:
df_departments = pd.read_csv(os.path.join(CSV_PATH, 'departments.csv'), names=['id', 'department'])

In [7]:
df_departments

    id                department
0    1        Product Management
1    2                     Sales
2    3  Research and Development
3    4      Business Development
4    5               Engineering
5    6           Human Resources
6    7                  Services
7    8                   Support
8    9                 Marketing
9   10                  Training
10  11                     Legal
11  12                Accounting

In [8]:
df_departments.to_sql(name='departments',
                      schema='bronze',
                      con=engine, 
                      if_exists='replace', 
                      index=False)

12

## Carga tabla Empleados

In [9]:
df_empleados = pd.read_csv(os.path.join(CSV_PATH, 'hired_employees.csv'), names=['id', 'name', 'datetime','department_id', 'job_id'])

In [10]:
df_empleados

        id                name              datetime  department_id  job_id
0        1         Harold Vogt  2021-11-07T02:48:42Z            2.0    96.0
1        2            Ty Hofer  2021-05-30T05:43:46Z            8.0     NaN
2        3         Lyman Hadye  2021-09-01T23:27:38Z            5.0    52.0
3        4       Lotti Crowthe  2021-10-01T13:04:21Z           12.0    71.0
4        5      Gretna Lording  2021-10-10T22:22:17Z            6.0    80.0
...    ...                 ...                   ...            ...     ...
1994  1995          Goran Yong  2021-08-22T21:57:53Z            2.0    83.0
1995  1996  Cirstoforo Youings  2021-04-01T17:48:42Z            3.0    23.0
1996  1997     Wilek Yurkevich  2021-05-04T12:19:50Z            2.0   132.0
1997  1998          Jerry Yven  2021-10-03T14:12:50Z            7.0   100.0
1998  1999       Jerri Zebedee  2022-01-18T10:47:37Z            8.0    80.0

[1999 rows x 5 columns]

In [11]:
df_empleados.to_sql(name='hired_employees',
                    schema='bronze',
                    con=engine, 
                    if_exists='replace', 
                    index=False)

999